.shadow-fx{

	--background: #fff;
	--shadowcolor: rgba(0, 0, 0, 0.3);
	--shadowwidth: 10px;
	--shadowmax: 150px;
	--shadowrotation: 4deg;
	--shadowpadding: 4%;

	&.fx-background{
		background-color: var(--background);
	}

	position:relative;
    z-index:inherit;
	
	//---------------------------------------------

	&.fx-corner-topright,
	&.fx-corner-topleft,
	&.fx-corner-bottomright,
	&.fx-corner-bottomleft,
	&.fx-curl-right,
	&.fx-curl-left,
	&.fx-curl-bottom,
	&.fx-curl-top,
	&.fx-flip-left,
	&.fx-flip-right,
	&.fx-flip-top,
	&.fx-flip-bottom{
		&:before,&:after{
			content:"";
			position:absolute;
			z-index:-1;
		}
	}
	
	&.fx-bottom:after,
	&.fx-right:after,
	&.fx-left:before,
	&.fx-top:before{
			content:"";
			position:absolute;
			z-index:-1;
	}

   //---------------------------------------------
 
   &.fx-left:before,
   &.fx-right:after,
   &.fx-flip-top:before,
   &.fx-flip-top:after,
   &.fx-curl-right:before,
   &.fx-curl-left:before,
   &.fx-corner-topright:after,
   &.fx-corner-topleft:after{
	   top:var(--shadowpadding);
   }

   //---------------------------------------------
 
   &.fx-left:before,
   &.fx-right:after,
   &.fx-flip-bottom:before,
   &.fx-flip-bottom:after,
   &.fx-curl-right:after,
   &.fx-curl-left:after,
   &.fx-corner-bottomright:after,
   &.fx-corner-bottomleft:after{
	   bottom:var(--shadowpadding);
  }
  
	//---------------------------------------------
	&.fx-top:before,
	&.fx-bottom:after,
	&.fx-flip-right:before, 
	&.fx-flip-right:after,
	&.fx-curl-bottom:after,
	&.fx-curl-top:after,
	&.fx-corner-topright:before,
	&.fx-corner-bottomright:before{
		right:var(--shadowpadding);
	}

   //---------------------------------------------
	&.fx-top:before,
	&.fx-bottom:after,
	&.fx-flip-left:before,
	&.fx-flip-left:after,
	&.fx-curl-bottom:before,
	&.fx-curl-top:before,
	&.fx-corner-topleft:before,
	&.fx-corner-bottomleft:before{
		left:var(--shadowpadding);
	}
	
	//------------------------------------

	&.fx-corner-topright:after,
	&.fx-corner-bottomright:before,
	&.fx-corner-topleft:before,
	&.fx-corner-bottomleft:after,
	&.fx-curl-right:before,
	&.fx-curl-left:after,
	&.fx-curl-bottom:after,
	&.fx-curl-top:before,
	&.fx-flip-right:after,
	&.fx-flip-top:after,
	&.fx-flip-bottom:before,
	&.fx-flip-left:before{
		transform:rotate(var(--shadowrotation));
	}
	
	&.fx-corner-topright:before,
	&.fx-corner-bottomright:after,
	&.fx-corner-topleft:after,
	&.fx-corner-bottomleft:before,
	&.fx-curl-right:after,
	&.fx-curl-left:before,
	&.fx-curl-bottom:before,
	&.fx-curl-top:after,
	&.fx-flip-top:before,
	&.fx-flip-right:before,
	&.fx-flip-bottom:after,
	&.fx-flip-left:after{
		transform:rotate( calc(var(--shadowrotation) * -1));
	}

	//------------------------------------

	&.fx-corner-topright,
	&.fx-corner-topleft,
	&.fx-corner-bottomright,
	&.fx-corner-bottomleft{
		&:before{
			width:46%;
			height:	var(--shadowwidth);
			max-width: var(--shadowmax);	
		}  
		&:after{
			width:	var(--shadowwidth);
			height:46%;
			max-height: var(--shadowmax);
		}		
	}
	
	//---------------------------------------------
	
	&.fx-corner-topright,
	&.fx-corner-topleft{
		&:before{
			top: var(--shadowwidth);
			box-shadow: 0 calc(var(--shadowwidth) * -1) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);	
		}  
	}
   
 	//---------------------------------------------
	  
    &.fx-corner-bottomright,
	&.fx-corner-bottomleft{
		&:before{
			bottom:	var(--shadowwidth);
			box-shadow: 0 var(--shadowwidth) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
	}

	//---------------------------------------------

    &.fx-corner-topright,
	&.fx-corner-bottomright{
		&:after{
			right: var(--shadowwidth);
			box-shadow: var(--shadowwidth) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
	}

 	//---------------------------------------------
	
	 &.fx-corner-topleft,
	 &.fx-corner-bottomleft{
		&:after{
			left: var(--shadowwidth);
			box-shadow: calc(var(--shadowwidth) * -1) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}	 
	  }
  
	//---------------------------------------------
	
	&.fx-curl-right,
	&.fx-curl-left{
		&:before,&:after{
			height:46%;
			max-height: var(--shadowmax);
			width: var(--shadowwidth);
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-bottom,
	&.fx-curl-top {
		&:before,&:after{
			height: var(--shadowwidth);
			max-width:var(--shadowmax);
			width:46%;
		}
	}

	//---------------------------------------------
	
	&.fx-curl-right{
		&:before,&:after{
			box-shadow: var(--shadowwidth) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			right: var(--shadowwidth);
		}
	}

	//---------------------------------------------
	
	&.fx-curl-left{
		&:before,&:after{
			box-shadow: calc(var(--shadowwidth) * -1) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			left: var(--shadowwidth);
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-bottom {
		&:before,&:after{
			box-shadow: 0 var(--shadowwidth) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			bottom: var(--shadowwidth);
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-top{
		&:before,&:after{
			box-shadow: 0 calc(var(--shadowwidth) * -1) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			top: var(--shadowwidth);
		}
	}
	
	//---------------------------------------------
	
	&.fx-flip-left,
	&.fx-flip-right{
		&:before,&:after{
			width:46%;
			max-width:var(--shadowmax);
			height: var(--shadowwidth);
		}
		&:before{
			top: var(--shadowwidth);
			box-shadow: 0 calc(var(--shadowwidth) * -1) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
		&:after{
			bottom: var(--shadowwidth);
			box-shadow: 0 var(--shadowwidth) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
	}
	
	//---------------------------------------------
	
	&.fx-flip-top,
	&.fx-flip-bottom{
		&:before,&:after{
			height:46%;
			max-height:var(--shadowmax);
			width: var(--shadowwidth);
		}
		&:before{
			left: var(--shadowwidth);
			box-shadow: calc(var(--shadowwidth) * -1) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
		&:after{
			right: var(--shadowwidth);
			box-shadow: var(--shadowwidth) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
		}
	}

	//---------------------------------------------
	
	&.fx-bottom{
		&:after{
			box-shadow: 0 calc(var(--shadowwidth) / 2) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			bottom:0;
		}
	}
		
	//---------------------------------------------

	&.fx-right{
		&:after{
			box-shadow: calc(var(--shadowwidth) / 2) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			right:0;
		}
	}
		
	//---------------------------------------------
	
	&.fx-left{
		&:before{
			box-shadow: calc(var(--shadowwidth) / 2 * -1) 0 calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			left:0;
		}
	}
	
	//---------------------------------------------

	&.fx-top{
		&:before{
			box-shadow: 0 calc(var(--shadowwidth) / 2 * -1) calc(var(--shadowwidth) / 2) 0 var(--shadowcolor);
			top:0;
		}
	}
	
	//---------------------------------------------
	
	&.fx-top:before,
	&.fx-bottom:after{
//		border-radius: #{100%} / #{$shadowwidth * 2};
		border-top-left-radius: 100% calc(var(--shadowwidth) * 2);
		border-top-right-radius: 100% calc(var(--shadowwidth) * 2);
		border-bottom-right-radius: 100% calc(var(--shadowwidth) * 2);
		border-bottom-left-radius: 100% calc(var(--shadowwidth) * 2);
		height:100%;
	}
	
	&.fx-right:after,
	&.fx-left:before{
//		border-radius: #{$shadowwidth * 2} / #{100%} ;
		border-top-left-radius: calc(var(--shadowwidth) * 2) 100%;
		border-top-right-radius: calc(var(--shadowwidth) * 2) 100%;
		border-bottom-right-radius: calc(var(--shadowwidth) * 2) 100%;
		border-bottom-left-radius: calc(var(--shadowwidth) * 2) 100%;
		width:100%;
	}
}
