$background :#fff;
$shadowcolor :rgba(0, 0, 0, 0.3);
$shadowpadding :4%;
$shadowrotation :4deg;
$shadowwidth :10px;
$shadowmax :150px;

.shadow-fx{

	&.fx-background{
		background-color:$background;
	}

	position:relative;
    z-index:inherit;
	
	//---------------------------------------------

	&.fx-corner-topright,
	&.fx-corner-topleft,
	&.fx-corner-bottomright,
	&.fx-corner-bottomleft,
	&.fx-curl-right,
	&.fx-curl-left,
	&.fx-curl-bottom,
	&.fx-curl-top,
	&.fx-flip-left,
	&.fx-flip-right,
	&.fx-flip-top,
	&.fx-flip-bottom{
		&:before,&:after{
			content:"";
			position:absolute;
			z-index:-1;
		}
	}
	
	&.fx-bottom:after,
	&.fx-right:after,
	&.fx-left:before,
	&.fx-top:before{
			content:"";
			position:absolute;
			z-index:-1;
	}

   //---------------------------------------------
 
   &.fx-left:before,
   &.fx-right:after,
   &.fx-flip-top:before,
   &.fx-flip-top:after,
   &.fx-curl-right:before,
   &.fx-curl-left:before,
   &.fx-corner-topright:after,
   &.fx-corner-topleft:after{
	   top:$shadowpadding;
   }

   //---------------------------------------------
 
   &.fx-left:before,
   &.fx-right:after,
   &.fx-flip-bottom:before,
   &.fx-flip-bottom:after,
   &.fx-curl-right:after,
   &.fx-curl-left:after,
   &.fx-corner-bottomright:after,
   &.fx-corner-bottomleft:after{
	   bottom:$shadowpadding;
  }
  
  //---------------------------------------------
  &.fx-top:before,
  &.fx-bottom:after,
  &.fx-flip-right:before, 
  &.fx-flip-right:after,
  &.fx-curl-bottom:after,
  &.fx-curl-top:after,
  &.fx-corner-topright:before,
  &.fx-corner-bottomright:before{
	  right:$shadowpadding;
  }

   //---------------------------------------------
   &.fx-top:before,
   &.fx-bottom:after,
   &.fx-flip-left:before,
   &.fx-flip-left:after,
   &.fx-curl-bottom:before,
   &.fx-curl-top:before,
   &.fx-corner-topleft:before,
   &.fx-corner-bottomleft:before{
		left:$shadowpadding;	
	}
	
  //------------------------------------
  
	&.fx-corner-topright:after,
	&.fx-corner-bottomright:before,
	&.fx-corner-topleft:before,
	&.fx-corner-bottomleft:after,
	&.fx-curl-right:before,
	&.fx-curl-left:after,
	&.fx-curl-bottom:after,
	&.fx-curl-top:before,
	&.fx-flip-right:after,
	&.fx-flip-top:after,
	&.fx-flip-bottom:before,
	&.fx-flip-left:before{
		transform:rotate($shadowrotation);
	}
	
	&.fx-corner-topright:before,
	&.fx-corner-bottomright:after,
	&.fx-corner-topleft:after,
	&.fx-corner-bottomleft:before,
	&.fx-curl-right:after,
	&.fx-curl-left:before,
	&.fx-curl-bottom:before,
	&.fx-curl-top:after,
	&.fx-flip-top:before,
	&.fx-flip-right:before,
	&.fx-flip-bottom:after,
	&.fx-flip-left:after{
		transform:rotate($shadowrotation * -1);
	}

  //------------------------------------
 
    &.fx-corner-topright,
    &.fx-corner-topleft,
    &.fx-corner-bottomright,
	&.fx-corner-bottomleft{
		&:before{
			width:46%;
			height:$shadowwidth;
			max-width:$shadowmax;	
		}  
		&:after{
			width:$shadowwidth;
			height:46%;
			max-height:$shadowmax;
		}		
	}
	
   //---------------------------------------------
	
   &.fx-corner-topright,
   &.fx-corner-topleft{
		&:before{
			top:$shadowwidth;
			box-shadow: 0 ($shadowwidth * -1) round($shadowwidth / 2) 0 $shadowcolor;	
		}  
   }
   
 	//---------------------------------------------
	  
    &.fx-corner-bottomright,
	&.fx-corner-bottomleft{
		&:before{
			bottom:$shadowwidth;
			box-shadow: 0 $shadowwidth round($shadowwidth / 2) 0 $shadowcolor;
		}
	}

	//---------------------------------------------

    &.fx-corner-topright,
	&.fx-corner-bottomright{
		&:after{
			right:$shadowwidth;
			box-shadow: $shadowwidth 0 round($shadowwidth / 2) 0 $shadowcolor;
		}
	}

 	//---------------------------------------------
	
	 &.fx-corner-topleft,
	 &.fx-corner-bottomleft{
		&:after{
			left:$shadowwidth;
			box-shadow:($shadowwidth * -1) 0 round($shadowwidth / 2) 0 $shadowcolor;
		}	 
	  }
  
	//---------------------------------------------
	
	&.fx-curl-right,
	&.fx-curl-left{
		&:before,&:after{
			height:46%;
			max-height:$shadowmax;
			width:$shadowwidth;
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-bottom,
	&.fx-curl-top {
		&:before,&:after{
			height:$shadowwidth;
			max-width:$shadowmax;
			width:46%;
		}
	}

	//---------------------------------------------
	
	&.fx-curl-right{
		&:before,&:after{
			box-shadow: $shadowwidth 0 round($shadowwidth / 2) 0 $shadowcolor;
			right:$shadowwidth;
		}
	}

	//---------------------------------------------
	
	&.fx-curl-left{
		&:before,&:after{
			box-shadow: ($shadowwidth * -1) 0 round($shadowwidth / 2) 0 $shadowcolor;
			left:$shadowwidth;
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-bottom {
		&:before,&:after{
			box-shadow: 0 $shadowwidth round($shadowwidth / 2) 0 $shadowcolor;
			bottom:$shadowwidth;
		}
	}
	
	//---------------------------------------------
	
	&.fx-curl-top{
		&:before,&:after{
			box-shadow: 0 ($shadowwidth * -1) round($shadowwidth / 2) 0 $shadowcolor;
			top:$shadowwidth;
		}
	}
	
	//---------------------------------------------
	
	&.fx-flip-left,
	&.fx-flip-right{
		&:before,&:after{
			width:46%;
			max-width:$shadowmax;
			height:$shadowwidth;
		}
		&:before{
			top:$shadowwidth;
			box-shadow: 0 ($shadowwidth * -1) round($shadowwidth / 2) 0 $shadowcolor;
		}
		&:after{
			bottom:$shadowwidth;
			box-shadow: 0 $shadowwidth round($shadowwidth / 2) 0 $shadowcolor;
		}
	}
	
	//---------------------------------------------
	
	&.fx-flip-top,
	&.fx-flip-bottom{
		&:before,&:after{
			height:46%;
			max-height:$shadowmax;
			width:$shadowwidth;
		}
		&:before{
			left:$shadowwidth;
			box-shadow: ($shadowwidth* -1) 0 round($shadowwidth / 2) 0 $shadowcolor;
		}
		&:after{
			right:$shadowwidth;
			box-shadow: $shadowwidth 0 round($shadowwidth / 2) 0 $shadowcolor;
		}
	}

	//---------------------------------------------
	
	&.fx-bottom{
		&:after{
			box-shadow: 0 round($shadowwidth / 2) round($shadowwidth / 2) 0 $shadowcolor;
			bottom:0;
		}
	}
		
	//---------------------------------------------

	&.fx-right{
		&:after{
			box-shadow: round($shadowwidth / 2) 0 round($shadowwidth / 2) 0 $shadowcolor;
			right:0;
		}
	}
		
	//---------------------------------------------
	
	&.fx-left{
		&:before{
			box-shadow:(round($shadowwidth / 2)* -1) 0 round($shadowwidth / 2) 0 $shadowcolor;
			left:0;
		}
	}
	
	//---------------------------------------------

	&.fx-top{
		&:before{
			box-shadow: 0 (round($shadowwidth / 2) * -1) round($shadowwidth / 2) 0 $shadowcolor;
			top:0;
		}
	}
	
	//---------------------------------------------
	
	&.fx-top:before,
	&.fx-bottom:after{
		border-radius: #{100%} / #{$shadowwidth * 2};
		height:100%;
	}
	
	&.fx-right:after,
	&.fx-left:before{
		border-radius: #{$shadowwidth * 2} / #{100%} ;
		width:100%;
	}
}
